<h1>Players</h1>
<header>
  <%= render 'layouts/navbar' %>
</header>

<h2>Player: <%= owner.name %> </h2>
<ul>
  <% @owner.cards.each do |card| %>
  <li>
    <%= link_to card.name,%>
  </li>
  <% end %>
</ul>