<h1>About</h1>
<%= render 'layouts/navbar' %>
<p>This application uses the Yu-Gi-Oh! API to collect and display data on various cards. The data includes details such as card type, description, attack, and defense values.</p>

<h2>Data Source</h2>
<p>Data is sourced from the <a href="https://db.ygoprodeck.com/api/v7/cardinfo.php" target="_blank">Yu-Gi-Oh! API</a>, which provides comprehensive information about Yu-Gi-Oh! cards.</p>
